
#menu{
	position: fixed;
	z-index: 9000;
}

body{
	font-family: 'Raleway';
	background: linear-gradient(45deg, #663524, #b7d8c3);
}
	/*Too resource intensive
	background-size: 400% 400%;

	-webkit-animation: AnimationName 15s ease infinite;
	-moz-animation: AnimationName 15s ease infinite;
	animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}*/

.jumbotron .container{
	text-align: center;
}
.jumbotron {
	/*margin-top: 42px;*/
	/*background: url('https://farm8.staticflickr.com/7440/12529937283_088eda711b_k.jpg');*/
	background: url(images/cover.jpg) no-repeat center center fixed;
	background-repeat: no-repeat;
	height: 550px;
	background-size: cover;
	box-shadow: 
}
/*.jumbotron .container h1{
	font-size:  130px;
	color: white;
	text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}

.jumbotron .container h2{
	color: white;
	text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}

.jumbotron .container .links .row ul{
	display: inline-block;
	padding-top: 70px;
}
.jumbotron .container .links li{
	font-size: 30px;
	color: gray;
	border-radius: 25px;
	border: solid;
	border-width: 2px;
	background-color: transparent;
}

.jumbotron .container .links li a{
	color: red;
}

.jumbotron .blue .active a:hover{
	background-color: blue;
}*/

#infobox{
	margin-top: 25px;
	position: relative;
	text-align: left;
	width:300px;
	height: 350px;
	background: black;
	color: white;
	margin-left: 50px;
	opacity: 0.7;
}
#infobox h2{

	padding-top: 7px;
	margin-left: 5px;
	font-weight: 50;
	font-size: 48px;
	height: 40px;
}
#infobox h3{
	margin-left: 8px;
	font-size: 20px;
	height: 20px;
}
#infobox h4{
	margin-left: 8px;
	font-size: 15px;
}
#infobox li i{
	padding: 0px;
	font-size: 40px;
}
#infocontent h3{
	font-size: 19px;
	padding-left: 50px;
	height: 10px;
}
#infocontent .fa-apple{
	padding-top: 3px;
	text-align: center;
	background-color: #504e54;
	border-radius: 50%;
	width: 25px;
	height: 25px;
}
#infocontent .fa-android{
	padding-top: 3px;
	text-align: center;
	background-color: #A5C63B;
	border-radius: 50%;
	width: 25px;
	height: 25px;
}
#infobox ul{
	position: absolute;
	bottom: 0px;
	/*padding-bottom: 6px;*/
}
/*
#infobox ul .fa-github-square{
	background-color: #000;
}
#infobox ul .fa-linkedin-square{
	background-color: #0085AE;
	display: table;
}*/
#subbox{
	margin-top: 45px;
	text-align: center;
}

#tab1 .about .container{
	
	margin-left: 135px;
	margin-right: 135px;
	padding-top: 30px;
	padding-bottom: 100px;
	background-color: white;
	opacity: .9;
	width: auto;
}
#aboutme{
	color: #6C6C6C;
	font-size: 20px;
	width: inherit;
}
.about .container .row{
	padding-left: 20px;
	padding-right: 20px;
}
.about .container .row h3{
	color: #9D9D9D;
	height: 30px;
	background-color: transparent;
}

.about .container .row p{
	font-size: 18px;
}

.about .container .row [class*=col] .eco{
	margin-top: 50px;
	height: 200px;
	background: no-repeat;
	background-image: url(images/leafeye6.png);
	background-size: contain;
	width: auto;
}

.about .container .row [class*=col] .snap{
	height: 200px;
	background: no-repeat;
	background-image: url(images/SnapRoulette.png);
	background-size: contain;
	width: auto;
}

.about .container .row [class*=col] .kinematix{
	height: 200px;
	background: no-repeat;
	background-image: url(images/kinematix.png);
	background-size: contain;
	width: auto;
}

.about .container .row [class*=col] .kinematixicon{
	height: 200px;
	background: no-repeat;

	background-image: url(images/kinematixicon.png);
	background-size: contain;
	width: auto;
}

#tab2{
	padding-top: 20px;
	padding-bottom: 100px;
	margin-left: 135px;
	margin-right: 135px;
	background-color: white; /*#EDEDED;*/
	width: auto;
	opacity: .9;
}
.resume h2{
	text-align: center;
	/*background-color: white;*/
}

#title{
	font-family: Arial;
	font-weight: 100;
	text-align: center;
}

#resumeinfo{
	font-weight: 100;
	padding-left: 20px;
}

#resumeinfo h2{
	color: #9D9D9D;
	background-color: white; /*#EDEDED;*/
	text-align: left;
	font-size: 22px;
}
#school{
	padding-left: 50px;
}

#date{
	font-size: 16px;
	height: 25px;
}
#date span{
	padding-left: 50px;
	color: #BDBDBD;
}

#courses{
	color: #6B6B6B;
	padding-left: 100px;
	padding-right: 180px;
}
#language{
	padding-left: 50px;
	color: 	#6B6B6B;
}

.about .container .spacebetweenabout{
	height: 70px;
	/*background-color: white; /*#EDEDED;*/
}

.whitespace{
	height: 300px;
}
.copyright {
	text-align: right;
	font-size: 5px;
	padding-right: 50px;
	background-color: #E0E0D1;
	height: 50px;
	padding-top: 20px;
}